* {
    font-family: "Terminess Nerd Font", sans-serif !important;
    font-size: 15px !important;
    border-radius: 0 !important;
}

/* =============================TABS */
#firefox-view-button {
    display: none !important;
}

#tabs-newtab-button {
    display: none !important;
}

#new-tab-button {
    display: none !important;
}

#alltabs-button {
    display: none !important;
}

#scrollbutton-up {
    display: none !important;
}

#scrollbutton-down {
    display: none !important;
}

#tabbrowser-tabs {
    border: none !important;
    bottom: -4px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    margin-top: 8px !important;
}

.tabbrowser-tab {
    margin-left: -2px !important;
    margin-right: -2px !important;
}

.tab-background {
    background-image: none !important;
    background-color: rgba(32, 32, 32, 0.85) !important;
}

.tab-background[selected="true"] {
    background-image: none !important;
    background-color: rgba(8, 8, 8, 0.85) !important;
    outline: none !important;
}

/* =============================NAVBAR */
#nav-bar {
    box-shadow: none !important;
}

#urlbar-container {
    height: 52px !important;
}

/* =============================TOOLBAR */
#PersonalToolbar {
    padding-bottom: 6px !important;
}
