* {
    font-family: "Terminess Nerd Font", sans-serif !important;
    font-size: 15px !important;
}

#TabsToolbar .toolbarbutton-1 {
  display: none !important;
}

.tabbrowser-tab {
    margin-top: 4px !important;
    margin-bottom: -6px !important;
    margin-left: -2px !important;
    margin-right: -4px !important;
}

.tab-background {
    background-image: none !important;
    background-color: rgba(32, 32, 32, 0.8) !important;
    border-radius: 0px !important;
}

.tab-background[selected="true"] {
    background-color: rgba(16, 16, 16, 0.8) !important;
    outline: none !important;
}

#nav-bar {
    box-shadow: none !important;
}

#nav-bar-customization-target {
    padding-top: 4px !important;
}

#urlbar-background {
  border-radius: 0 !important;
}

#personal-bookmarks, #PlacesToolbar, #PlacesToolbarItems {
  min-width: 0 !important;
  padding: 1px 0 !important;
}

:root {
    --tab-border-radius: 0 !important;
    --toolbarbutton-border-radius: 0px !important;
}
